.wrap {
  width: $max-width;
  margin: 0 auto;
  display: block;
}

.container {
  @include outer-container();
  @include media($tablet) {
    max-width: 680px;

  }
}

.full {
  width: 100%;
  overflow-x: hidden;
}
