.wrap {
  width: $max-width;
  margin: 0 auto;
  display: block;
}

.container {
  @include outer-container();
  @include media($tablet) {
    max-width: 700px;
  }
  @include media($mobile) {
    max-width: 300px;
  }
}

.row {
  @include row();
}

.full {
  width: 100%;
  overflow-x: hidden;
}
