<template name="home">
  <header class="hero Aligner">
    <img class="logo" src="panda.png" srcset="panda.png 1x, panda@2x.png 2x" alt="">
    <div class="Aligner-item">
      <div class="container">
        <div class="copy-1">
          <h1 class="mb glider">Learn to execute your designs in code.</h1>
          <div class="cf"></div> {{> subscribe}}
        </div>
      </div>
    </div>
    <div class="span-black"></div>
    <div class="code-js">
      <div id="typewriter">
      </div>
      <!--       <span class="blinker"></span>
      <img class="code-text-img" src="code-text.png" srcset="code-text.png 1x, code-text@2x.png 2x" alt=""> -->
    </div>
  </header>
  <main class="backshape">
    <div class="full">
      <section class="container padv">
        <div class="row">
          <div class="copy-block mt--max">
            <h3 class="rel"><img src="layers.png" srcset="layers.png 1x, layers@2x.png 2x, layers@3x.png 3x" class="mobile-icon">Become a full-stack designer</h3>
            <p>Designers who know how to code are the future of the industry. Understanding programming practices and patterns, creating design systems, and live style guides are the next necessary step. </p>
          </div>
          <div class="imgset-one omega">
            <img src="sll-html.png" srcset="sll-html.png 1x, sll-html@2x.png 2x" alt="HTML Markup of Startup Launch List" class="img--top">
            <img src="sll-screenshot.png" srcset="sll-screenshot.png 1x, sll-screenshot@2x.png 2x" alt="Screenshot of Startup Launch list" class="img--bottom">
          </div>
        </div>
        <div class="row">
          <div class="imgset-two">
            <img src="javascript.png" srcset="javascript.png 1x, javascript@2x.png 2x" alt="Meteor Chef teaching how to set up a payment system with Stripe" class="img--bottom">
          </div>
          <div class="copy-block omega offset-copy">
            <h3 class="rel"><img src="bubbles.png" srcset="bubbles.png 1x, bubbles@2x.png 2x, bubbles@3x.png 3x" class="mobile-icon">Into the deep end</h3>
            <p>There's no theory based intro. We're throwing you straight into the deep end, sans floaties. You'll be working on modern, popular projects from the first minute.</p>
          </div>
        </div>
      </section>
    </div>
  </main>
  <section class="hero--small padv--large mobile-hidden">
    <div class="container ">
      <div class="copy-2">
        <h2 class="white">Learn the latest web technologies</h2>
        <p class="white tsh mb--max db">Learn the latest web technologies from talented designers in courses taught specifically for you. The cornerstone of craftsmanship is the unified design and execution of a product. We want to enable you to make your own products and to collaborate better with developers. </p>
        <img src="logos-bw.png" srcset="logos-bw.png 1x, logos-bw.png 2x" alt="">
      </div>
    </div>
    <div class="span-black"></div>
    <div class="cf"></div>
  </section>
  <section class="padv--large mobile-hidden">
    <div class="container">
      <div class="copy-3">
        {{#unless isSession "subscribed"}}
          <h2 class="copy-3-header">Be the first to know</h2>
          <p class="mb--large">Get the earliest access to our online courses. Just before we launch, we will send you an email with the discount code. After signing up, there will be more opportunities to save as well!</p>
          {{> subscribeSecondary }}
        {{/unless}}
        {{#if isSession "subscribed"}}
          <h2>You're ahead of the curve already</h2>
          <p class="mb--large">Thank you for signing up! First, you'll receive a confirmation email. Then, when we launch, we will send you your coupon code. Share on Twitter to save an extra 10%!</p>
          <a href="#" class="btn btn--blue">Share on Twitter for an extra 10% off</a>
        {{/if}}
      </div>
    </div>
  </section>
  <section class="social social--medium">
    <div class="container padv--large ">
      <div class="copy-4">
        <img src="svbtle-logo.png" srcset="svbtle-logo.png 1x, svbtle-logo@2x.png 2x" alt="Svbtle Logo" class="social-logo">
        <p class="mb"><span class="mobile-hidden">If designers want their partners in product and engineering to understand and participate in the design process, we need to be ready to stretch the other way as well.</span> We need to be willing to leave the comfort of our specialty, to understand what our collaborators are dealing with every day. </p>
        <small class=""><span class="mdash"></span>Cap Watkins, <a class="link" target="_blank" href="http://blog.capwatkins.com/why-designers-really-should-learn-to-code?ref=pandacourses">"Why Designers Should Really Learn to Code"</a></small>
      </div>
    </div>
  </section>
  <footer role="main-footer" class="padv">
    <div class="container cf">
    <small class="dib left opc-50">Panda Network</small>
      <small class="dib left opc-50">
    Featuring code from <a class="link" target="_blank" href="http://themeteorchef.com?ref=pandacourses">The Meteor Chef</a>
  </small>
      <div class="right opc-50 gt">
        <a class="link dib small" href="mailto:hello@panda.network">Contact Us</a>
        <a class="link dib small" href="http://twitter.com/usepanda">@usepanda</a>
      </div>
    </div>
    <script>
    $(function() {
      console.log("whoa who is typing this...")
      $('#typewriter').teletype({
        text: ["cd gits\n", "meteor create panda-courses^50\n", "meteor\n", "^50", "", "", ""],
        typeDelay: 0,
        backDelay: 20,
        loop: 1,
        preserve: true,
        prefix: '$ ',
        cursor: '▋',
        callbackNext: function(current, teletype) {
          if (current.index == 3) {
            $('.teletype-text').append('[[[[[ ~/www/panda-courses ]]]]]\n\n');
          }
          if (current.index == 4) {
            $('.teletype-text').append('=> Started proxy.\n=> Started MongoDB.\n\n');
          }
          if (current.index == 5) {
            $('.teletype-text').append('=> Started your app.\n=> App running at: http://localhost:3000/\n');
          }
          if (current.index == 6) {
            $(".code-js").addClass("fade")
          }
        }
      });
    });
    </script>
  </footer>
</template>
