.copy-block {
  @include span-columns(5);
  margin-top: em(160, 16);
  h3 {
    margin-bottom: 20px;
  }
  p {
    color: #595960;
  }
  // media
  @include media($tablet) {
    @include span-columns(3 of 8);
    margin-top: em(100, 16);
  }
  @include media($mobile) {
    margin-top: 40px;
    @include span-columns(4);
    margin-bottom: 40px;
    &:last-of-type {
      margin-bottom: 40px;
    }
  }
}

.omega {
  @include omega();
}

.offset-copy {
  @include shift(1 of 12);
  // media
  @include media($tablet) {
    @include shift(1);
  }
  @include media($mobile) {
    margin: 0 auto;
    float: none;
  }
}

.imgset-one {
  @include span-columns(4);
  position: relative;
  border-radius: 3px;
  z-index: 5;
  overflow-x: visible;
  // media
  @include media($tablet) {
    @include span-columns(3);
  }
  @include media($mobile) {
    display: none;
  }
  .img--bottom {
    width: 760px;
    height: auto;
    @include media($tablet) {
      width: (760px*.7);
    }
  }
  .img--top {
    position: absolute;
    left: 48px;
    bottom: 0;
    width: 620px;
    height: auto;
    @include media($tablet) {
      width: (620px*.7);
    }
  }
}

.imgset-two {
  @include span-columns(6);
  z-index: 10;
  position: relative;
  @include media($tablet) {
    @include span-columns(4);
  }
  @include media($mobile) {
    display: none;
  }
  img {
    width: 620px;
    height: auto;
    margin-top: em(-160, 16);
    @include shift(-2);
    @include media($tablet) {
      margin-top: em(20, 16);
      width: (620px*.7);
      @include shift(-2);
    }
  }
}

// section with other hero
.hero--small {
  width: 100%;
  background: #312D47;
  min-height: 0;
}

.copy-2 {
  @include span-columns(8);
  @include shift(2);
  position: relative;
  z-index: 10;
  margin-top: 123px;
  h2 {
    margin-bottom: 20px;
  }
  p {
    color: #E2DFF2;
  }
  img {
    opacity: .4;
    margin-top: 60px;
  }
}

// copy 3
.copy-3 {
  @include span-columns(8);
  @include shift(2);
  h2 {
    margin-bottom: 20px;
  }
  p {
    color: #595960;
  }
  @include media($mobile) {
    display: none;
  }
}

.social {
  .copy-4 {
    @include span-columns(9);
    @include shift(2);
    position: relative;
    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
    }
    .social-logo {
      position: absolute;
      top: 8px;
      left: -40px;
      width: 20px;
      height: auto;
      @include media($mobile) {
        display: none;
      }
    }
  }
  p {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 36px;
    font-weight: normal;
    letter-spacing: 0.03em;
    text-rendering: optimizeLegibility;
    font-family: $headerfont;
    @include media($mobile) {
      font-size: 12px;
      line-height: 18px;
    }
  }
  small {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
    letter-spacing: 0.2px;
    position: relative;
    margin-left: 20px;
    opacity: .8;
    font-family: $headerfont;
    @include media($mobile) {
      font-family: $bodyfont;
      font-size: 10px;
      color: #FFFFFF;
      line-height: 15px;
    }
  }
  .mdash {
    position: absolute;
    top: .4em;
    left: -20px;
    height: 2px;
    width: 12px;
    background: #ffffff;
    @include media($tablet) {
      height: 1px;
      width: 8px;
      left: -12px;
    }
    @include media($mobile) {
      height: 1px;
      width: 8px;
      left: -12px;
    }
  }
}

.social--medium {
  background: #2E2E33;
  p,
  small {
    color: #ffffff;
  }
}
