.teletype-prefix {
  &:nth-of-type(3) {
    display: none;
  }
  &:nth-of-type(4) {
    display: none;
  }
  &:nth-of-type(5) {
    display: none;
  }
  &:nth-of-type(6) {
    display: none;
  }
  &:nth-of-type(7) {
    display: none;
  }
}

.fade {
  opacity: .3;
  @include transition(opacity .6s ease-in-out);
  @include transition(filter .6s ease-in-out);
  @include filter(blur(1px));
}

.teletype-cursor {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  line-height: 1.75;
}

.teletype-text {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  line-height: 1.75;
  @include media($tablet) {
    font-size: 14px;
  }
}

.code-js .blinker {
  @include media($tablet) {
    display: none;
  }
  $timing: 1.3s;
  display: block;
  width: 5px;
  height: 23px;
  background: white;
  opacity: .8;
  position: absolute;
  top: 296px;
  left: 60px;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: $timing;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 10;
  -moz-animation-name: blinker;
  -moz-animation-duration: $timing;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 10;
  animation-name: blinker;
  animation-duration: $timing;
  animation-timing-function: linear;
  animation-iteration-count: 10;
}

@-moz-keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}
