footer {
  background: #2E2E33;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.50);
  color: #fff;
  display: block;
  width: 100%;
  @include media($mobile) {
    padding-bottom: 128px !important;
    small, .link {
      margin-bottom: 20px;
    }
    .left {
      width: 100%;
    }
    .left,
    .right {
      float: none;
      display: inline-block;
    }
  }
}
