* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $backgroundcolor;
  color: $bodycolor;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
  max-width: 100%;
}

// iron router
#iron-router-progress {
  @include linear-gradient(90deg, darken(#EDF9FD, 5%) 10%, darken(#8CE4D0, 3%) 90%);
  height: 4px
}

// responsive images
img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  vertical-align: middle;
  width: 100%;
}

// type
h1,
h2,
h3,
h4,
h5 {
  font-family: $headerfont;
}

h1 {
  font-size: 60px;
  color: #E9E9E9;
  line-height: 72px;
  @include media($tablet) {
    font-size: 32px;
    line-height: 40px;
  }
  @include media($mobile) {
    font-size: 24px;
    line-height: 30px;
  }
}

h2 {
  font-size: 36px;
  line-height: 44px;
  @include media($tablet) {
    font-size: 24px;
    line-height: 32px;
  }
}

h3 {
  font-size: 28px;
  color: #2E2E33;
  line-height: 40px;
  @include media($tablet) {
    font-size: 20px;
    line-height: 25px;
  }
}

p {
  font-family: "Inconsolata";
  line-height: 30px;
  font-size: 18px;
  @include media($tablet) {
    font-size: 16px;
    line-height: 24px;
  }
  @include media($mobile) {
    font-size: 14px;
    line-height: 20px;
  }
}

small,
.small {
  font-family: $headerfont;
  font-size: 14px;
  @include media($mobile) {
    font-size: 10px;
  }
}

.link {
  text-decoration: none;
  color: white;
  position: relative;
  @include transition(opacity .4s ease-in-out);
  &:hover {
    opacity: 1;
    @include transition(opacity .3s ease-in-out);
  }
  &:after {
    content: '';
    position: absolute;
    background: white;
    opacity: .8;
    height: 2px;
    width: 96%;
    left: 0;
    bottom: -0.08em;
    margin-left: 2%;
  }
}

.mobile-hidden {
  @include media($mobile) {
    display: none !important;
  }
}

.mobile-fixed {
  @include media($mobile) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    @include transform(translateY(-30px));
  }
}

h3 > .mobile-icon {
  display: none;
  @include media($mobile) {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    left: -25px;
  }
}
