nav[role="navigation"] {
  padding: 2rem 0;
  position: relative;
  &.section.padded {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .left-link > a {
    display: inline-block;
  }
  .right-link {
    text-align: right;
    a {
      text-align: right;
      display: inline-block;
      margin-left: -6px;
    }
  }
  .center-link {
    text-align: center;
    flex-basis: 120px !important;
    a {
      width: 120px;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
  // &.yellow-bg {
  //   a {
  //     color: $linkcolor;
  //     &:hover, &:focus, &:active {
  //       color: $hovercolor;
  //     }
  //   }
  // }
  a {
    font-family: unquote(map-get($headingtype, font-family));
    font-style: normal;
    @include fontsize(14, 0);
    @include user-select();
    color: $bodycolor;
    cursor: pointer;
    display: block;
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
    &:hover,
    &:active,
    &:focus {
      color: $hovercolor;
    }
    @include breakpoint(break-1) {
      letter-spacing: 0.05rem;
      padding: 1rem 0;
      // @include fontsize(18, 1);
      border: 0;
      padding: 0;
    }
    @include breakpoint(break-2) {
      @include fontsize(16, 2);
    }
    @include breakpoint(break-3) {
      @include fontsize(16, 3);
    }
    @include breakpoint(break-4) {
      @include fontsize(16, 4);
    }
  }
}
